.hotels-content {  
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;  
    justify-content: center;
    margin: auto;
    padding: 25px;
    max-width: 700px;
 }
  .hotel-content {
    flex: 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    background-color: white;
  }
  .hotel-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .hotel-error-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
  }
  .hotel-country-city {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
  }
  .hotel-flag {
    height: 15px;
    object-fit: cover;
    border-radius: 2px;
  }
  .hotel-price {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
  }
  .hotel-open-price {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
