.hotels-content {  
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;  
    justify-content: center;
    margin: auto;
    padding: 25px;
    /* padding: 50px 0; */
 }
  .hotel-content {
    flex: 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    background-color: white;
  }
  .hotel-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .hotel-error-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
  }
  
  /* <div className="hotel-content">
      <img className="hotel-img" src={elem.img} alt="" />
      <h2 className="hotel-name">{elem.name}</h2>
      <div className="hotel-country-city">
        <img className="hotel-flag" src="" alt="" />
        <p className="hotel-country">{elem.countryName}</p>
        <p className="hotel-city">{elem.cityName}</p>
      </div>
      <p className="hotel-start-tur">старт тура</p>
      <p className="hotel-date">{priceInfo.startDate}</p>
      <p className="hotel-price">{priceInfo.amount} {priceInfo.currency}</p>
      <a className="hotel-open-price">Відкрити ціну</a>
    </div>
  ); */