.main-form {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 72px;
    box-shadow : 0px 0px 5px black;
}

.main-form-content {
    position : relative;
}
.main-input {
    border : 2px solid black;
    margin: 0 auto;
    height : 36px;
}
.main-lists {
    position : absolute;
    top : 36px;
    width : 100%;

    

}