.error-popup {
  position: fixed;
  /* bottom: 20px; */
  right: 20px; /* change to left:20px for RTL */
  background-color: #f44336;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  top: 35px;
  transition: all 1s;
  transform: translateX(0);
  z-index: 99999999;
}

/* animation: fadeIn 0.4s ease; */
.error-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.error-content p {
  margin: 0;
  flex: 1;
}

.error-content button {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.fade-out {
  transform: translateX(650px);
  /* animation: fadeOut 1.7s ease-in forwards; */
}
