    .currentHotel-content {
        display: block;
        padding: 20px;
        margin: 40px auto;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 300px
    }
    .currentHotel-name-icon-content--services {
        flex-wrap: wrap;
    }
    .currentHotel-name-icon-content {
        display: flex;
        gap: 10px;
        margin: 10px 0;
    }   

    .currentHotel-name-icon-c {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .currentHotel-icon {
        width: 16px;
        height: 16px;
    }
    .currentHotel-img {
        width: 100%;
        border-radius: 10px;
    }
    .currentHotel-desc-title {
        font-size: 18px;
        margin: 15px 0 5px 0;  
        font-weight: 600;
    }
    .currentHotel-desc-text {
        font-size: 14px;
        line-height: 1.5;
        color: #555555;    
    }
    .currentHotel-line {
        height: 1px;
        background-color: #e0e0e0;
        margin: 15px 0;
    }
    .currentHotel-price-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;       
    }
    .currentHotel-price {   
        font-size: 20px;
        font-weight: 700;
        color: #333333;         
    }
    .currentHotel-booking-btn {
        padding: 10px 15px;
        color: black;
        background-color: #e2e2e2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
 


    .currentHotel-loading {
        text-align: center;
        font-size: 24px;
        margin-top: 100px;
    }