* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  border: none;
  color : black;
}
body {
  height: 100vh;
  background: rgb(228, 227, 227);
}
#root {
  width: 100%;
  height: 100%;
}
